@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap'); /* font-family: 'IBM Plex Sans Arabic', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500&display=swap'); /* font-family: 'IBM Plex Sans Arabic', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500&family=Quicksand&display=swap'); /* font-family: 'Quicksand', sans-serif;
font-family: 'Quicksand', sans-serif; */

html {
    height: 100%;
}

body {
    margin-top: 15px;
    margin-bottom: 0;
    background: linear-gradient(0deg, rgba(245,237,237,1) 0%, rgba(254,177,173,1) 100%);
}

.start {
    width: 20rem;
    height: 5rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: rgba(255, 255, 255, 0.3);
    border: #ff3b60 4px double;
    color:#fd5b79;
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;

    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}

.start:hover {
    color: #c06ad7;
    background: none;
    box-shadow: 10px 10px 70px #c06ad7;
}

.fa-play {
    margin-left: 15px;
    font-size: large;
}

.tittle {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color: #ff3b60;
    font-weight: bolder;
}

.logo {
    width: 15vw;
    margin: auto;
}

.question {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-family: 'Quicksand', sans-serif;
}

.question h2 {
    color: white;
    font-weight: bold;
}

.question h5 {
    color: #c06ad7;
}

.options {
    margin-bottom: 2vw;
}

.op {
    background-color: #fdb2ad;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.op:hover {
    color: #c06ad7;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.points, .lifes {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: 25px;
    color: #c06ad7;
    width: 2.5em;
    height: 2.5em;
    border: #fd5b79 5px double;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-again {
    width: 17rem;
    height: 5rem;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.3);
    border: #ff3b60 4px double;
    border-radius: 20px;
    color:#fd5b79;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-again:hover {
    color: #c06ad7;
    background: none;
    box-shadow: 10px 10px 70px #c06ad7;
}

.final {
    display: none;
}

.final h1 {
    font-family: 'Quicksand', sans-serif;
    color: #c06ad7;
    font-weight: bolder;
    letter-spacing: 1rem;
    text-align: center;
    margin-bottom: 4rem;

    animation: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.img-final {
    width: 20%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;

    animation: wobble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

footer {
    background-color: #fd5b79;
    color: white;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    position: absolute;
    bottom: 0;
}